<h3>Update: <span class='label'><%= @collection.name %></span></h3>
<hr />
<%= form_for @collection do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name, placeholder: "Collection Name" %>
  <%= f.text_field :material, placeholder: "Material Name (Rubber)" %>
  <%= f.text_area :collection_description, placeholder: "Type description here." %>

  <label><%= f.check_box :icon_1 %> One</label>
  <label><%= f.check_box :icon_2 %> Two</label>
  <label><%= f.check_box :icon_3 %> tjree</label>
  <label><%= f.check_box :icon_4 %> four</label>
  <label><%= f.check_box :icon_5 %> five</label>
  <%= link_to_add_fields "Add Section", f, :collection_sections, class: 'small success button' %>
  
  <div class="row">
    <div class="large-12 columns">      
       <%= f.fields_for :collection_sections do |builder| %>
         <%= render 'collection_section_fields', f: builder %>
       <% end %>
    </div>
  </div>

  <%= f.submit "Update Collection", class: 'small button' %> <%= link_to "Cancel", collection_path(@collection), class: 'small alert button' %>
<% end %>