<style>
  .color-palette {
    padding: 2px 6px;
    text-align: center;
    color: white;
    
    /* radius */
    border-radius: 18px;
    -ms-border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
  }
  .color-palette-A { background: #B0A2F2; }
  .color-palette-B { background: #699E8E; }
  .color-palette-C { background: #E87068; }
  .color-palette-D { background: #9FC181; }
  .color-palette-W { background: #F2DFBC; color: #333; }
  .color-palette-Selects {
    margin-right: 6px; 
    margin-top: 4px;
    float: left; 
    height: 15px; 
    width: 15px; 
    background: maroon;

    /* radius */
    border-radius: 0;
    -ms-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    /* transform */
    transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    -moz-transform: rotate(45deg); 
    -o-transform: rotate(45deg); 
  }
</style>

<%= link_to "+ Add Collection", new_collection_path, class: 'success button nice radius right' %>
<h3 class="subheader">List of Collections</h3>

<hr />
<br />

<ul class="accordion">
<% @collections.each do |c| %>
  <% if c == @collections.first %>
    <li class="active">
  <% else %>
    <li>
  <% end %>

  <div class="title">      
      <h5><%= c.name %></h5>
  </div>

  <div class="content">
    <%= link_to "+ Add Style", new_style_type_path(collection_id: c.id), class: 'success small button nice radius' %>    
    <%= link_to "Delete Collection", collection_path(c), method: :delete, class: 'right alert small button nice radius', data: {confirm: "Are you sure?"} %>    <%= link_to "Edit Collection", edit_collection_path(c), class: 'right small button nice radius' %>
    <br />
    <br />
    <% c.style_types.each do |s| %>
      <div class="row">
        <div class="ten columns panel"><%= s.name %> (<%= pluralize s.profiles.count, 'profile' %>)
          <div class="right"><%= link_to "+ Add Profile", new_profile_path(id: s.id), class: 'success small button nice radius' %> <%= link_to "Edit Style", edit_style_type_path(s), class: 'small button nice radius' %> <%= link_to "Delete Style", style_type_path(s), data: {confirm: "Are you sure?"}, :method => :delete, class: 'alert small button nice radius' %></div>
          <ul>
            <% s.profiles.each do |p| %>
              <li><%= p.size %>" <%= p.uuid %> <%= link_to "Edit", edit_profile_path(p) %> | <%= link_to "Delete", profile_path(p), method: :delete, data: {confirm: "Are you sure?"} %>
              <br />
              <% p.color_palettes.order(:name).each do |cp| %>
                <span class="color-palette color-palette-<%= cp.name %>"><%= cp.name == 'Selects' ? '&nbsp;'.html_safe : cp.name %></span>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</ul>