<style>
li {list-style-type: none;}
a.red {color: red;}
</style>
<%= link_to "+ Add Collection", new_collection_path, class: 'success button nice  right' %>
<h3 class="subheader">List of Collections</h3>

<hr />

<div class="large-4 columns">
  <% Collection.all.each do |c| %>
  <%= link_to c.name, collection_path(c), class: 'button expand' %><br />
<% end %>
</div>

<div class="large-8 columns">  
  <h5><%= @collection.name %></h5>
  <%= link_to "+ Add Style", new_style_type_path(collection_id: @collection.id), class: 'success small button nice ' %>    
  <%= link_to "Delete Collection", collection_path(@collection), method: :delete, class: 'right alert small button nice ', data: {confirm: "Are you sure?"} %>    <%= link_to "Edit Collection", edit_collection_path(@collection), class: 'right small button nice ' %>
  <br />
  <br />
  <% @collection.style_types.each do |s| %>
    <div class="row">
      <div class="large-12 columns panel">
            <%= s.name %> (<%= pluralize s.profiles.count, 'profile' %>)
            <%= link_to "Delete Style", style_type_path(s), data: {confirm: "Are you sure?"}, :method => :delete, class: 'alert small button  right' %>
            <%= link_to "Edit Style", edit_style_type_path(s), class: 'small button  right' %>
        <br />
        <hr />
        <%= link_to "+ Add Profile", new_profile_path(id: s.id), class: 'success small button ' %>
        <div class="row">
          <div class="large-12 columns">
            <ul>
            <% s.profiles.each do |p| %>
              <li><%= p.size %>" <%= p.uuid %> <%= link_to "Edit", edit_profile_path(p) %> | <%= link_to "Delete", profile_path(p), class: 'red', method: :delete, data: {confirm: "Are you sure?"} %>
              <br />
              <% p.color_palettes.order(:name).each do |cp| %>
                <span class="color-palette color-palette-<%= cp.name %>"><%= cp.name == 'Selects' ? '&nbsp;'.html_safe : cp.name %></span>
              <% end %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>