<h3>Update: <span class='label'><%= @collection_style.name %></span></h3>
<hr />
<%= form_for @collection_style do |f| %>
  <%= f.error_messages %>
  <%= f.label :collection_id, "Collection" %>
  <%= f.select :collection_id, Collection.all.map {|c| [c.name, c.id]} %>
  <%= f.text_field :name, placeholder: "Style Type Name" %>

  <%= f.submit "Update style type", class: 'button nice radius' %> <%= link_to "Cancel", style_types_path, class: 'alert button nice radius' %>
<% end %>