<h3>Create a style for <%= @profile.style_type.name %></h3>
<hr />

<%= form_for @profile do |f| %>
  <%= f.error_messages %>  
  <br />
  <%= f.label :style_type_id, "Style Type" %>
  <%= f.select :style_type_id, StyleType.all.map {|st| [st.name, st.id]}, :selected => @profile.style_type_id %>
  <br />
  <br />
  <%= f.text_field :uuid, placeholder: "MW-XX-C" %>
  <%= f.text_field :size, placeholder: "2\"" %>
  
  <%= f.submit "Create style type", class: 'success button nice radius' %> <%= link_to "Cancel", collections_path, class: 'alert button nice radius' %>
<% end %>