<h3>Update: <span class='label'><%= @color_palette.name %></span></h3>
<hr />
<%= form_for @color_palette do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name, placeholder: "Color Palette Name" %>

  <%= f.submit "Update Color Palette", class: 'button nice radius' %> <%= link_to "Cancel", color_palettes_path, class: 'alert button nice radius' %>
<% end %>