<h3>Create a Color Palette</h3>
<hr />

<%= form_for @color_palette do |f| %>
  <%= f.error_messages %>
  <%= f.text_field :name, placeholder: "Color Palette Name" %>
  
  <%= f.submit "Create Color Palette", class: 'success button nice radius' %> <%= link_to "Cancel", color_palettes_path, class: 'alert button nice radius' %>
<% end %>