<h3>Update: <span class='label'><%= @style_type.name %></span></h3>
<hr />
<%= form_for @style_type, html: {class: 'custom'} do |f| %>
  <%= f.error_messages %>
  <%= f.label :collection_id, "Collection" %>
  <%= f.select :collection_id, Collection.order(:name).map {|c| [c.name, c.id]} %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Style Type Name" %>

  <%= f.submit "Update style type", class: 'small button' %> <%= link_to "Cancel", collection_path(@style_type.collection), class: 'small alert button' %>
<% end %>