<h3>Create a style type</h3>
<hr />

<%= form_for @style_type, html: {class: 'custom'} do |f| %>
  <%= f.error_messages %>
  <%= f.label :collection_id, "Collection" %>
  <%= f.select :collection_id, Collection.order(:name).map {|c| [c.name, c.id]}, selected: params[:collection_id] %>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Style Type Name" %>
  
  <%= f.submit "Create style type", class: 'small success button' %> <%= link_to "Cancel", collection_path(params[:collection_id]), class: 'small alert button' %>
<% end %>