<% unless @style_types.blank? %>

  <% @style_types.each do |style_type| %>
    <div class='row'>
      <div class="animated fadeInLeft large-6 columns">        
        <%= image_for_results style_type %>
        <ul class="left">
          <li class="name"><b><%= style_type.name.upcase %> (<%= style_type.collection.material.upcase %>)</b></li>      
          <li><%= style_type.collection.name %></li>
          <li style="margin-top: 30px;">
            <%= form_tag root_path, class: 'details-form custom', data: {remote: true} do %>
              <%= label_tag :profile_id, nil, for: 'detail-select', class: 'hide' %>
              <%= select_tag :profile_id, options_for_select(style_type.profiles.map {|pf| ["#{pf.name} - #{pf.size}\"", pf.id]} ), prompt: 'select a profile', id: 'detail-select', class: 'small' %>
              <div class="custom dropdown small"><a href="#" class="current">select a profile</a><a href="#" class="selector"></a><ul><li class="selected">select a profile</li><li>MW-7-C</li></ul></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="animated fadeInRight large-6 columns">
        <% style_type.profiles.each do |p| %>
          <div class="row profile-row">
            <div class="large-4 columns">
              <%= p.name %>
            </div>
            <div class="large-8 columns">
              <% p.color_palettes.ordered.each do |cp| %>
                <span class="color-palette color-palette-<%= cp.name.gsub('Wall Art', 'wall-art') %>"><%= cp.name == 'Selects' ? '&nbsp;'.html_safe : cp.name %></span>
              <% end %>              
            </div>
          </div>
          <br />
        <% end %>
      </div>
    </div>
    <br style="clear:both" />
    <hr />
  <% end %>

<% else %>

  <h1 class='animated bounceInDown no-results'>there were no results</h1>

<% end %>