<% unless @style_types.blank? %>

  <% @style_types.each_with_index do |style_type,index| %>
    <div class='row'>
      <div class="animated fadeInLeft large-3 columns">        
        <%= image_tag style_type.profiles.first.profile_image_url, class: "has-tip result-profile-image", title: "Choose a profile from the dropdown to see more details!", data: {tooltip:  ''} %>
      </div>
      <div class='animated fadeInLeft large-3 columns' style='z-index: <%= 100 - index %>'>
        <ul>
          <li><%= style_type.collection.name %></li>
          <li class="name"><b><%= style_type.name.upcase %></b></li>      
          <li class="name"><b><%= style_type.material.upcase %></b></li>      
          <li style="margin-top: 30px;">
            <%= form_tag root_path, class: 'details-form custom', data: {remote: true} do %>
              <%= label_tag :profile_id, nil, for: 'detail-select', class: 'hide' %>
              <%= select_tag :profile_id, options_for_select(style_type.profiles.map {|pf| ["#{pf.name} - #{pf.size}\"", pf.id]} ), prompt: 'select a profile', id: 'detail-select', class: 'small' %>
              <div class="custom dropdown small"><a href="#" class="current">select a profile</a><a href="#" class="selector"></a><ul><li class="selected">select a profile</li><li>MW-7-C</li></ul></div>
            <% end %>
          </li>
        </ul>
      </div>
      <div class='large-6 columns'>
        <% style_type.profiles.each do |p| %>
        <div class='row profile-row'>
          <div class="animated fadeInRight large-4 columns">
            <%= p.name %>
          </div>    
          <div class="animated fadeInRight large-8 columns clearfix profile-row">
            <% p.color_palettes.ordered.each do |cp| %>
              <span class="color-palette color-palette-<%= cp.name.gsub('Wall Art', 'wall-art') %>"><%= cp.name == 'Selects' ? '&nbsp;'.html_safe : cp.name %></span>
            <% end %>
            <br style="clear:both" />
            <br style="clear:both" />        
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <hr />
  <% end %>

<% else %>

  <h1 class='animated bounceInDown no-results'>there were no results</h1>

<% end %>
