<% @style_types.each do |style_type| %>
  <div class="animated <%= cycle 'fadeInLeft', 'fadeInRight' %> <%= @style_types.count.odd? && style_type.id == @style_types.last.id ? 'twelve' : 'six' %> columns" style="margin-bottom: 28px;">
    <img src="/assets/profile.png" style="width: 120px; height: 150px; margin-right: 15px;" class="left" />
    <ul class="left">
      <li style="text-transform: uppercase;"><b><%= style_type.name %> (<%= style_type.collection.material %>)</b></li>      
      <li><%= style_type.collection.name %></li>
      <% style_type.profiles.each do |p| %>
        <li>
          <%= p.name %><br />
          <% p.color_palettes.ordered.each do |cp| %>
            <span class="color-palette color-palette-<%= cp.name %>"><%= cp.name == 'Selects' ? '&nbsp;'.html_safe : cp.name %></span>
          <% end %>
        </li>
      <% end %>
      
      <li style="margin-top: 24px;">
        <%= form_tag root_path, class: 'details-form custom', data: {remote: true} do %>
          <%= label_tag :profile_id, nil, for: 'detail-select', class: 'hide' %>
          <%= select_tag :profile_id, options_for_select(style_type.profiles.map {|pf| [pf.name, pf.id]} ), prompt: 'select a profile', id: 'detail-select', class: 'small' %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>



<%= @empty if @empty %>