<%= form_tag root_path, id: 'search-form', class: 'custom', data: {remote: true} do %>
    <div id="collections">
      <%= select_tag :collection_id, options_for_select(@collections.map {|c| [c.name, c.id]}, selected: params[:collection_id]), prompt: 'select a collection', class: ' filter-select full-width' %>
    </div>

    <div id="color">
      <h6>COLOR</h6>
      <% @color_palettes.each do |color_palette| %>
        <label for="<%= color_palette.id %>">
          <%= check_box_tag 'color_palette_ids[]', color_palette.id, (params[:color_palette_ids] && params[:color_palette_ids].include?(color_palette.id.to_s)), id: color_palette.id %> <%= nice_color_palette_name_for color_palette %>
        </label>
      <% end %>
      <label style="padding:0">
      </label>
    </div>

    <br />
    <div id="material">
      <%= select_tag :material, options_for_select(@collections.map{|c| c.material}.uniq!, selected: params[:material]), prompt: 'select a material', class: ' filter-select full-width' %>      
    </div>

    <div id="style-type">
      <%= select_tag :style_type_name, options_for_select(StyleType.select('distinct name').order(:name).map {|st| [st.name]}, selected: params[:style_type_name]), prompt: 'select a style', class: ' filter-select full-width' %>
    </div>  

<% end %>