<style>
.swatch {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border: 3px solid whitesmoke;
}
.centered {
  text-align: center;
}
.shadow {
  box-shadow: 0 1px 3px #AAA;
}

.color-swatch {
  margin-top: 12px;
  padding-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid #CCC;
}
.red {
  color: red;
}
</style>

<script>
$('#palette-select').live('change', function() {
  var cp = $(this).val();  
  $(".title").each(function() {
    if($(this).text().trim()==cp)
      $(this).click();
  });
});
</script>

<h3 class="left subheader">List of Color Palettes</h3>
<%= link_to "« back to filter", root_path, class: 'back-to-filter right small button secondary' %>
<hr />
<br />

<%= select_tag :color_palette, options_for_select( @color_palettes.map { |cp| cp.name } ), id: 'palette-select', class: 'show-for-small' %>
<br />

<div class="section-container tabs" data-section>
<% @color_palettes.each do |color_palette| %>  
  <% if color_palette.id.to_s == params[:color_palette_id].to_s %>
    <section class="section active">
  <% else %>
    <section class="section">
  <% end %>

    <div class="title hide-for-small" style="width: 11%">        
      <h5 style="text-align: center"><%= color_palette.name %></h5>        
    </div>

    <div class="content">
      <br />
      <div class="row">
        <div class="large-3 columns">
          <h4 class="centered"><%= color_palette.name %></h4>
        </div>        
        <div class="large-5 large-offset-4 columns">
        </div>
        <hr />
      </div>
      <div class="row">
        <%= color_swatch_for color_palette %>
      </div>
    </div>
  </section>
<% end %>
</div>
