<script>
  $(document).ready(function() {
      if (IpadIsNotStandalone()) {DisplayAddToHomeScreenPopup();}

      $('.single-parent').hide()
      appear_class = 'fadeInRightBig'
      disappear_class = 'fadeOutLeftBig'

      $('.view-item').live('click', function() {
        var profile_id = $(this).data('profile-id');
        $.getScript("<%= root_path %>?profile_id="+profile_id, function() {
          $('.result-parent').removeClass(appear_class).addClass(disappear_class);
          $('.single-parent').removeClass(disappear_class).addClass(appear_class).show();      
          $('.result-parent').fadeOut();
        })      
      });

      $('form').live('change', function() {
        $(this).submit();
      });

      $('.back-to-filter').live('click', function() {      
        $('.single-parent').removeClass(appear_class).addClass(disappear_class);
        $('.result-parent').removeClass(disappear_class).addClass(appear_class).show();      
        $('.single-parent').fadeOut();
      });

      $('label.color-label').live('change', function() {
        if ($(this).find('input').is(':checked')) {
          $(this).addClass('active');          
        } else {
          $(this).removeClass('active');          
        }
      });
  });
</script>


<style>
li {list-style-type: none;}
a.learn-more {font-size: 16px;}
a#reset:hover {color: white; background: #93cede;}
a#reset {
  background: #F6F6F6;
  width: 100%;
  display: inline-block;
  padding: 11px;
  text-align: center;
  color: #3B9FBC;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-bottom: 8px;
}

form label {
  padding: 20px;  
  color: #3b9fbc;
  background: #F6F6F6;
  border-top: 1px solid #DDD;
  margin-bottom:0;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;  
}

#segments label.segment_label:last-child {border-bottom: 1px solid #DDD;}

label.color-label:hover {
  color: white;
  background: #93cede;
}
label.color-label {
  width: 50px;
  height: 50px;
}
label.active { 
  border: 3px solid pink;  
}

#results img {
  border: 1px solid #888;
  box-shadow: 0 1px 3px #AAA;
}

.notcurrent {display: none;}
nav.top-bar {display:none;}
h3 {color: black;right; text-align: right; margin-bottom: -17px;}
ul#heading li {display:inline-block;}
ul#heading img {vertical-align: middle; margin-right: 25px;margin-top:20px;}  
.floor_types label {background: white;padding-left: 40px;}

</style>
<style media="all and (orientation:portrait)">#addToHomeScreen{left: 65px;}</style>

<div id="addToHomeScreen">
  <img src="/assets/button.png" />
  Tap this icon.<br />
  Then '<b>Add to Home Screen</b>'<br />
  to install.
</div>

<ul id="heading">
  <li><a class="home_link" href="javascript:void(0)"><%= image_tag "logo.gif" %></a></li>
  <li><a class="home_link" href="javascript:void(0)"><h3>Wallbase Chart</h3></a></li>
  <li><%= link_to "Tmp Admin Link", collections_path %></li>
</ul>
<hr />
<div class="row">
  <div class="four columns">
    <%= link_to "Reset", root_path, id: 'reset' %>
    <h4>FILTER BY:</h4>    
    <div id="search" class="ajax-container search">
      <%= render 'search' %>
    </div>
  </div>

  <div class="result-parent animated eight columns">
    <h4>WALLBASE</h4>
    <div id="results" class="ajax-container results">
      <%= render 'results' %>
    </div>
  </div>

  <div class="single-parent eight columns animated">
    <div id="details" class="ajax-container details">      
    </div>
  </div>