<div class="row">
  <div id="filter-form" class="large-4 columns">
    <%= link_to "Reset", 'javascript:void(0)', id: 'reset' %>
    <h4>FILTER BY:</h4>    
    <div id="search" class="ajax-container search">
      <%= render 'search' %>
    </div>
    <% cache do %>
    <div class='color-legend'>      
      <% ColorPalette.labels.each do |cp| %>
      <div class='row'>
        <div class='large-2 columns color-palette-list'>
          <span class="color-palette round color-palette-<%= cp.name %>" style="left:20px !important"><%= cp.name %></span>
        </div>
        <div class='large-10 columns' style="padding: 0">
           - <%= link_to nice_color_palette_name_for(cp), color_palette_chart_path %>
         </div>
      </div>
      <br />
      <% end %>
    </div>
    <% end %>
  </div>

  <% cache([OpeningPage.first]) do %>
  <div class="result-parent animated large-8 columns">
    <div id="header-row" class="row hide">
      <div class="large-6 columns"><h4>WALLBASE</h4></div>
      <div class="large-6 columns">
        <div class="large-4 columns"><h5>SKU</h5></div>
        <div class="large-8 columns"><h5>Color Palettes</h5></div>
      </div>
    </div>
    <div id="results" class="ajax-container results">      
      <%= OpeningPage.first.body.html_safe %>
    </div>
  </div>

  <div class="single-parent large-8 columns animated">
    <div id="details" class="ajax-container details"></div>
  </div>
  <% end %>
</div>
